{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% extends "layout.html" %}

{% block body %}

    {% include "security/_messages.html" %}

    <div class="mx-auto" style="max-width: 400px;">
        <h1 class="text-center">Login</h1>
        <form class="form-signin" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
            {{ login_user_form.hidden_tag() }}
            {{ render_field_with_errors(login_user_form.email, class='form-control') }}
            {{ render_field_with_errors(login_user_form.password, class='form-control') }}
            {{ render_field_with_errors(login_user_form.remember) }}
            {{ render_field(login_user_form.next) }}
            {{ render_field(login_user_form.submit, class='btn btn-lg btn-primary btn-block') }}
        </form>
    </div>

{% endblock %}